.button {
	background-color: #ecb390;
	border: none;
}
.button:hover {
	background-color: #dd4a48;
}
.formControl {
	font-size: 0.9rem;
}
.formControl:focus {
	border-color: #d86c68;
	box-shadow: 0 0 0 0.2rem #d86c68;
}
